<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../static/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet"  href="../../static/vendors/mdi/css/materialdesignicons.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet"  href="../../static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../static/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon"  href="../../static/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">  
          <a class="navbar-brand brand-logo" href="index.html"><img src="../../static/images/logo.svg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../static/images/logo-mini.svg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>  
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-4 w-100">
          <li class="nav-item nav-search d-none d-lg-block w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="../../static/images/faces/face5.jpg" alt="profile"/>
              <span class="nav-profile-name">SCU College of Software</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="mdi mdi-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="/loginPage/">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
        	<li class="nav-item">
            <a class="nav-link" href={% url 'index' %}>
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'upload' %}>
              <i class="mdi mdi-arrow-up-bold-circle menu-icon"></i>
              <span class="menu-title">Upload files</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href= {% url 'download' %}>
              <i class="mdi mdi-arrow-down-bold-circle menu-icon"></i>
              <span class="menu-title">Download files</span>
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href={% url 'diagram' %}>
              <i class="mdi mdi mdi-book-open-variant menu-icon"></i>
              <span class="menu-title">Diagram</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      {% block mainbody %}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>基于数据流分析的IOT网络异常检测系统</h2>
                    <p class="mb-md-0">IOT network anomaly detection system based on data flow analysis</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Group members</p>
                  <p class="mb-4">The group leader : 郑健希<br><br>The group members : 周蓓佳， 朱天祥</p>
                  <p class="card-title">Advantages</p>
                  <p class="mb-4">（1）本项目选择不解析网络数据包转而分析网络数据流表层特征的检测方式来轻量化IOT环境下的网络数据流检测系统<br><br>（2）通过筛选多个算法模型对数据进行处理，模型更加贴合数据，减少了人工标注的工作量。同时适应多变的网络环境。
</p>                  
                  <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">functions</p>
                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                            <th>Algorithm</th>
                            <th>Introduction</th>
                            <th>Data Set</th>
                            <th>Accuracy</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>RandomForest</td>
                            <td>Random forest refers to a classifier that USES multiple trees to train and predict samples.</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2019.Urbanui All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      {% endblock %}
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="../../static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../static/vendors/chart.js/Chart.min.js"></script>
  <script src="../../static/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="../../static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../static/js/off-canvas.js"></script>
  <script src="../../static/js/hoverable-collapse.js"></script>
  <script src="../../static/js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../static/js/dashboard.js"></script>
  <script src="../../static/js/data-table.js"></script>
  <script src="../../static/js/jquery.dataTables.js"></script>
  <script src="../../static/js/dataTables.bootstrap4.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

